#customers{
    padding-bottom: 35px; 
}
#customers .container{
    background-color: #c992e0;
    border-radius: 25px;
    padding: 35px 0px;
}
#customers .container h3{
   color: #fff;
}
#customers .owl-carousel {
   padding-top: 30px;
}

#customers .owl-carousel .owl-item img {
    display: block;
    width: 70%;
}

#customers .owl-carousel .owl-nav button.owl-next{
    font-size: 3rem;
}
#customers .owl-carousel .owl-nav button.owl-prev{
    font-size: 3rem;
}