#why-us{
    padding-top: 70px;
}
#why-us .content h1{
    font-weight: 600 !important;
}
#why-us .content p{
  padding-top: 30px;
}
#why-us .cards .card .card-img-top{
    padding: 30px 50px 30px 50px;
    width: 100%;
    border-radius: 25%;
  }
  #why-us .cards{
    padding: 70px 10px;
  }
  #why-us .cards .card-body{
    text-align: left;
  }
  #why-us .cards .card-body h3{
    font-weight: 600;
  }
  #why-us .cards .card-body p{
    font-size: 15px;
    padding-top: 20px;
  }


  @media only screen and (min-width: 350px) and (max-width: 500px) {
    #why-us{
        padding-top: 10px;
    }
    #why-us .cards .card .card-img-top{
        padding: 30px 50px 30px 50px;
        width: 100%;
      }
      #why-us .cards {
        padding: 30px 30px;
    }
}