#login form{
    padding: 10px 0px 40px 100px;
}

#login .input-group{
    width: 80%;
    padding-top: 25px;
}

#login .btn{
    background-color: transparent;
    border: 2px solid #c992e0;
    width: 80%;
}
#login .btn:hover{
    background-color: #c992e0;
    color: #fff;
}
#login .btn:focus{
    box-shadow: 0 0 0 0.12rem #c992e0;
}

.hide-md-lg {
    display: block;
    text-align: center;
}

#login .content{
    text-align: center;
    width: 77%;
}

#login .content .a{
    margin-left: 0.5rem;
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    #login .input-group{
        width: 90%;
    }
    #login form{
        padding: 20px 10px 20px 40px; 
    }
    #login .btn{
        width: 90%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 990px) {
    #login .input-group{
        width: 90%;
    }
    #login form{
        padding: 20px 10px 20px 40px; 
    }
    #login .btn{
        width: 90%;
    }
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    #login form{
        padding: 20px 10px 20px 40px; 
    }
    #login .btn{
        width: 90%;
    }
    #login .input-group{
        width: 90%;
    }
  }
